	</div>

    <div style="margin-top: 20px;" class="container">
      <div class="well well-sm">
        <small>このページは、<TMPL_VAR NAME="TIMESTAMP"> に <a href="https://github.com/jonnymccullagh/munstrap">MunStrap</a> テンプレートを使用して <a href="http://www.munin-monitoring.org/">Munin</a> バージョン <TMPL_VAR NAME="MUNIN_VERSION"> によって生成されました。</small>
      </div>
    </div>

    <script src="<TMPL_VAR NAME="R_PATH">/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      //Bootstrap tab anchor fix
      var url = document.location.toString();
      if (url.match('#')) {
        var taget = url.split('#')[1];
        $('.nav-tabs a[href=#' + taget + ']').tab('show');
        $('.tab-pane.active').removeClass('active');
        $('.tab-pane.in').removeClass('in');
        $('#' + taget).addClass('active');
        $('#' + taget).addClass('in');
        $('#' + taget).addClass('fade');
      }
      $('.nav-tabs a').on('shown', function (e) {
        window.location.hash = e.target.hash;
      });
    </script>
  </body>
</html>
